# Build results
[Dd]ebug/
[Rr]elease/
[Aa]ssets/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code files
.vscode/

# Rider files
.idea/

# Other files
*.db
*.sqlite
*.db-journal
